/* line 1, style.scss */
.pln {
  color: #ccc;
}

/* line 2, style.scss */
pre.prettyprint {
  background: #036;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}

/* line 3, style.scss */
pre.prettyprint code {
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 4, style.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 5, style.scss */
ol.linenums li {
  list-style: decimal outside;
  color: #999;
}

@media screen {
  /* line 7, style.scss */
  .str {
    color: #9c9;
  }

  /* line 8, style.scss */
  .kwd {
    color: #c9c;
  }

  /* line 9, style.scss */
  .com {
    color: #999;
  }

  /* line 10, style.scss */
  .atv {
    color: #6cc;
  }

  /* line 11, style.scss */
  .var {
    color: #f2777a;
  }

  /* line 12, style.scss */
  .typ, .fun {
    color: #69c;
  }

  /* line 13, style.scss */
  .lit, .atn {
    color: #f99157;
  }

  /* line 14, style.scss */
  .pun, .opn, .clo, .tag, .dec {
    color: #ccc;
  }
}
@media print, projection {
  /* line 17, style.scss */
  .com {
    color: #600;
    font-style: italic;
  }

  /* line 18, style.scss */
  .typ {
    color: #404;
    font-weight: 700;
  }

  /* line 19, style.scss */
  .lit {
    color: #044;
  }

  /* line 20, style.scss */
  .pun, .opn, .clo {
    color: #440;
  }

  /* line 21, style.scss */
  .atn {
    color: #404;
  }

  /* line 22, style.scss */
  .str, .atv {
    color: #060;
  }

  /* line 23, style.scss */
  .kwd, .tag {
    color: #006;
    font-weight: 700;
  }
}
/* line 25, style.scss */
body {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #fff;
  font-size: 20px;
}

/* line 30, style.scss */
#page {
  width: 100%;
  overflow: hidden;
}

/* line 34, style.scss */
.jumbotron {
  margin-bottom: 0;
}

/* line 37, style.scss */
.bg-jumbotron {
  background: #74B5F6;
  min-height: 450px;
}

/* line 41, style.scss */
.btn-parallaxx {
  border: solid 1px #fff;
  border-radius: 6px;
  color: #fff;
}
/* line 45, style.scss */
.btn-parallaxx:hover {
  background: #fff;
  color: #74B5F6;
}
@media (max-width: 767px) {
  /* line 41, style.scss */
  .btn-parallaxx {
    width: 100%;
  }
}

/* line 53, style.scss */
.parallaxx_el {
  position: relative;
  -webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media print {
  /* line 53, style.scss */
  .parallaxx_el {
    opacity: 1 !important;
    position: static;
    transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
  }
}

/* line 68, style.scss */
h2 {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  /* line 68, style.scss */
  h2 {
    margin-bottom: 20px;
  }
}

/* line 74, style.scss */
h3 {
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  /* line 74, style.scss */
  h3 {
    margin-bottom: 20px;
  }
}

/* line 80, style.scss */
.mr10 {
  margin-right: 10px;
}

/* line 83, style.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 86, style.scss */
.elements {
  border: 1px solid #fff;
  padding: 20px;
  margin-bottom: 10px;
  min-height: 150px;
}

/* line 92, style.scss */
.sections .container {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 450px;
}

/* line 98, style.scss */
#header h1 {
  letter-spacing: 20px;
}
/* line 101, style.scss */
#header .parallaxx_el {
  left: 40px;
  opacity: 0;
}
/* line 106, style.scss */
#header .parallaxx_el.plx-active {
  left: 0;
  opacity: 1;
  letter-spacing: 0;
}

/* line 115, style.scss */
#first-section .section-wrapper {
  background: #74F674;
}
/* line 118, style.scss */
#first-section .parallaxx_el {
  top: 50px;
}
/* line 120, style.scss */
#first-section .parallaxx_el.plx-active {
  top: 0px;
}

/* line 127, style.scss */
#second-section .section-wrapper {
  background: #B5F674;
}
/* line 130, style.scss */
#second-section .parallaxx_el {
  text-align: center;
  height: 150px;
  width: 150px;
  padding-top: 60px;
  margin: 0 auto;
  transform: scale(1.5);
  background: #fff;
}
/* line 138, style.scss */
#second-section .parallaxx_el.plx-active {
  border-radius: 50%;
  transform: scale(1);
  background: none;
}
@media print {
  /* line 130, style.scss */
  #second-section .parallaxx_el {
    transform: scale(1);
  }
}

/* line 150, style.scss */
#third-section .section-wrapper {
  background: #DCA199;
}
/* line 153, style.scss */
#third-section .parallaxx_el {
  transform: scale(0);
}
/* line 155, style.scss */
#third-section .parallaxx_el.plx-active {
  transform: scale(1);
}
@media print {
  /* line 153, style.scss */
  #third-section .parallaxx_el {
    transform: scale(1);
  }
}

/* line 164, style.scss */
#fourth-section {
  background-color: #74F6B5;
}
/* line 166, style.scss */
#fourth-section .parallaxx_el {
  left: -1500px;
}
/* line 169, style.scss */
#fourth-section .parallaxx_el.right-anim {
  left: 1500px;
}
/* line 172, style.scss */
#fourth-section .parallaxx_el.plx-active {
  left: 0;
}

/* line 179, style.scss */
#fifth-section {
  background-color: #B5F674;
}
/* line 181, style.scss */
#fifth-section .parallaxx_el {
  transform: rotate(180deg);
  opacity: 0;
}
/* line 186, style.scss */
#fifth-section .parallaxx_el.plx-active {
  transform: rotate(0deg);
  opacity: 1;
}
@media print {
  /* line 181, style.scss */
  #fifth-section .parallaxx_el {
    transform: rotate(0deg);
  }
}
