.pln{color:#ccc}
pre.prettyprint{background:#036;font-family:Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;font-size:12px;line-height:1.5;border:1px solid #ccc;padding:10px}
pre.prettyprint code {font-family:Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;margin:0; padding:0; border:0}
ol.linenums{margin-top:0;margin-bottom:0}
ol.linenums li{list-style:decimal outside;color:#999}
@media screen {
	.str{color:#9c9}
	.kwd{color:#c9c}
	.com{color:#999}
	.atv{color:#6cc}
	.var{color:#f2777a}
	.typ,.fun{color:#69c}
	.lit,.atn{color:#f99157}
	.pun,.opn,.clo,.tag,.dec{color:#ccc}
}
@media print,projection {
	.com{color:#600;font-style:italic}
	.typ{color:#404;font-weight:700}
	.lit{color:#044}
	.pun,.opn,.clo{color:#440}
	.atn{color:#404}
	.str,.atv{color:#060}
	.kwd,.tag{color:#006;font-weight:700}
}
body{
	font-family: 'Ubuntu Condensed', sans-serif;
	color: #fff;
	font-size: 20px;
}
#page{
	width: 100%;
	overflow: hidden;
}
.jumbotron{
	margin-bottom: 0;
}
.bg-jumbotron{
	background: #74B5F6;
	min-height: 450px;
}
.btn-parallaxx{
	border:solid 1px #fff;
	border-radius:6px;
	color: #fff;
	&:hover{
		background: #fff;
		color: #74B5F6;
	}
	@media (max-width:767px){
		width: 100%;
	}
}
.parallaxx_el{
	position: relative;
	-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	     -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	        transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	@media print {
		opacity: 1 !important;
		position: static;
		transition-duration : 0s;
    -webkit-transition-duration : 0s;
    -moz-transition-duration : 0s;
    -o-transition-duration : 0s;
	}        
}
h2{
	margin-bottom: 40px;
	@media (max-width:991px){
		margin-bottom: 20px;
	}
}
h3{
	margin-bottom: 80px;
	@media (max-width:991px){
		margin-bottom: 20px;
	}
}
.mr10{
	margin-right: 10px;
}
.mb10{
	margin-bottom: 10px;
}
.elements{
	border: 1px solid #fff;
	padding: 20px;
	margin-bottom: 10px;
	min-height: 150px;
}
.sections .container{
	padding-top: 40px;
	padding-bottom: 40px;
	min-height: 450px;
}
#header{
		h1{
			letter-spacing: 20px;
		}
	.parallaxx_el{

		left: 40px;
		opacity: 0;

		&.plx-active{
			left: 0;
			opacity: 1;
			letter-spacing: 0;
		}
	}
}

#first-section{
	 .section-wrapper{
		background: #74F674;
	}
	.parallaxx_el{
		top:50px;
		&.plx-active{
			top:0px;
		}
	}
}

#second-section {
	.section-wrapper{
		background:#B5F674;
	}
	.parallaxx_el{
		text-align: center;
		height: 150px;
		width: 150px;
		padding-top:60px;
		margin: 0 auto;
		transform:scale(1.5);
		background:#fff;
		&.plx-active{
			border-radius: 50%;
			transform:scale(1);
			background: none;   
		}
		@media print {
				transform:scale(1);
		} 
	}
}

#third-section {
	.section-wrapper{
		background:#DCA199;
	}
	.parallaxx_el{
		transform:scale(0);
		&.plx-active{
			transform:scale(1);
		}
		@media print {
			transform:scale(1);
		} 
	}
}

#fourth-section{
	background-color: #74F6B5;
	.parallaxx_el{
		
		left: -1500px;
		&.right-anim{
			left: 1500px;
		}
		&.plx-active{
			left: 0;
		}
	}
}


#fifth-section{
	background-color:		#B5F674;
	.parallaxx_el{
		
		transform:rotate(180deg);
		opacity:0;
		
		&.plx-active{
			transform:rotate(0deg);
			opacity:1;
		}
		@media print {
			transform:rotate(0deg);
		} 
	}
}